@charset "UTF-8";
$body_color: #101010;
$body_background: #D0D0D0;
// Main colors
$theme1: #1d1f1f;
$theme2: #94550a;
$theme3: deeppink; //#e18c0c;
$session_board: #89807B;

//$body_background: grayscale(darken($theme3,10%));



$panel_background: $theme1;
$button_background: saturate($theme2,75%);
$button_background2: darken($theme2,15%);
$highlight_background: saturate($theme3,75%);

$panel_complement: complement($theme2);
$panel_text: #202020;

$panel_shadow: lighten($panel_background, 50%);
$panel_plank_background: darken($panel_background, 5%);
$panel_shard_background: darken($panel_background, 15%);
$panel_smooth_background: grayscale($panel_background);
$panel_day_background: darken($panel_background,25%);
$panel_week_background: darken($panel_background, 5%);

// Panels levels
$panel1_background: lighten($panel_background,10%);
$panel2_background: lighten($panel_background,20%);
$panel3_background: lighten($panel_background,30%);
$panel_color: lighten($panel_background,75%);
$panel_border: lighten($panel_background,10%);
$panel1_color: lighten($panel1_background,75%);
$panel1_border: lighten($panel1_background,10%);
$panel2_color: lighten($panel2_background,75%);
$panel2_border: lighten($panel2_background,10%);
$panel3_color: lighten($panel3_background,75%);
$panel3_border: lighten($panel3_background,10%);
// Paperzone
$paper_background: #b2b0a7;
$paper_color: darken(complement($paper_background),50%);
$paper_border:darken($paper_background,10%);
// Highlight
$highlight_color: darken($highlight_background,75%);
$highlight_border: lighten($highlight_background,10%);
// Buttons
$button_color: lighten($button_background,75%);
$button_border: lighten($button_background,10%);
$button_color2: lighten($button_background2,75%);
$button_border2: lighten($button_background2,10%);

$color_current: violet;
$color_current_hover: mediumorchid;
$color_frame: lightgrey;
$color_frame_hover: cyan;
$panel_day_background: #c4c4b6;
$panel_day_off_background: saturate(complement($panel_day_background),50%);
$panel_day_current_background: lightcoral;
$color_off_hover: yellow;

$hour_pixel: 42;

$env_text: black;



$plate_color: lighten($panel_color,10%);
//$plate_highlight: #FFFFFF;
//$plate: #3a343e;
//$plate_shadow: #101010;
//$plate_selected: complement($panel_background);
//$dark_plate: darken($plate, 5%);
//$very_dark_plate: darken($dark_plate, 5%);
//$focus_color: #22C0F0;

/*
@mixin panel {
  background: $panel_background;
  color: $panel_color;
  border: 1px solid $panel_border;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 0 0 3px $panel_shadow;
  font-family: Roboto;
  font-size: 10pt;
}
*/
@mixin body_background {
  //background: transparent url('../colorful-grunge-texture-10.jpg') fixed; // 100% 100% no-repeat fixed;
  //background: $body_background;
  //background-image: linear-gradient(to bottom right, grayscale($theme3), $theme3);
  //background: grayscale($theme3);
  background: black;
  //background: repeating-linear-gradient(#e66465, #e66465 20px, #9198e5 20px, #9198e5 25px);
  color: $body_color;
}


@mixin basic_panel{
  //background: repeating-linear-gradient(-30deg, #2f1e21, #3f2e00 1px, #281d00 1px, #2f1e21 15px);
  background: #101010;
}


.hidden {
  display: none !important;
  //width:0 !important;
  //height:0 !important;
  //top:-500px !important;
  //left:-500px !important;
}


span.past{
  color:darkslateblue;
}

span.future{
  color:darkmagenta;
}


.front_message{
  display:block;
  font-size:1.5em;
  color: black;
  width:25%;
  margin:0;
  margin-left:auto;
  margin-right:auto;
}




$end_header: 120px;
$start_footer: 80px;
$end_menu: 50px;