@import 'basics';
@import 'scheme';
@import 'layout';




.content {
  z-index: 10;
  max-width: 750px;
}

.header {
  background: #101010;
  z-index: 30;
}

.footer {
  background: #404040;

  & img.partners {
    width: calc(#{$start_footer} - 20px);
  }

  z-index: 30;
}



