@import 'basics';

body {
  margin: 0;
  padding: 0;
  @include body_background;


  & .world {
    margin-top: 0;
    z-index: 5;
    position: absolute;
    color: $body_color;
    font-family: Acme;

    width: 100%;
    height: 100%;

    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    gap: 1px;
    padding: 0;

    & .spare_left {
      order: 1;
      flex: 1 0 10%;
    }

    & .spare_right {
      order: 3;
      flex: 1 0 10%;

    }

    & .corpus {
      width: auto;
      flex: 8 0 80%;
      order: 2;

      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;
      align-content: stretch;
      align-items: stretch;
      gap: 0 0;


      & .stacked {
        order: 2;
        flex: 8 1 80%;
        background: #909090;
        text-align: left;
        gap: 5px;


        &.mid {

        }

        &.top {
          order: 1;
          flex: 2 1 10%;
          background: gray;
          text-align: left;
          padding: 5px;
          @include basic_panel;
        }

        &.bottom {
          order: 3;
          flex: 2 1 10%;
          background: gray;
          text-align: right;
          padding: 5px;
          @include basic_panel;
        }
      }
    }
  }

  .articles {
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:1px;

    &.focused{
      background:darken(lightgray,2%);
      grid-template-columns: 1fr 1fr 1fr;

      & .article{
        grid-column: 1/ span 3;
      }
    }


    & .article {
      background: lightgray;
      font-family: Kalam;
      font-size: 16pt;
      color: black;
      padding: 10px;
      //border-radius: 10px;
      //box-shadow: 5px 5px 10px black;
      margin: 10px;
      padding:30px;
      & p{
        line-height: 1.1em;
      }
    }
  }

  .concerts {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;

    background: lightgrey;
    width: 50vw;




    & .concert {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      width: auto;
      border-radius: 5px;
      //box-shadow: 0px 0px 5px black;

      & .concert_pic {
        padding: 5px;
        background: darkgray;
        order: 1;
        flex: 1 1 150px;
      }

      & .concert_info {
        order: 2;
        background: silver;
        font-family: Mukta;
        font-size: 12pt;
        color: black;
        padding: 10px;


        margin: 5px;
        flex: 1 1 auto;
      }
    }
  }
}


.menu {
  width: 98%;
  padding: 1%;
  border-radius: 5px;
  background: transparent;

  & .entry {
    display: inline-block;
    width: 180px;
    heigth: 1.8em;
    text-align: center;
    vertical-align: middle;
    font-family: Mukta;
    border-radius: 3px;

    color: white;
    background: #123;
    &.private {
      background: #132;
    }


    & a, & a:hover, & a:active, & a:visited {
      color: white;
      background: transparent;
      text-decoration: none;
    }

    box-shadow: 0px 0px 5px #c0a252;
  }
}


.pictures {
  margin-left: auto;
  margin-right: auto;
  //border-radius: 10px;
  //box-shadow: 5px 5px 10px black;
  //background: lightgoldenrodyellow;
  width: 60vw;


  & H1 {
    color: black;
    font-family: Kalam;
    font-size:1.6em;

  }

  & .picture {
    text-align: center;
    display: inline-block;
    margin: 5px;

    & img.framed {
      border: 4px solid #102030;
      box-shadow: 5px 5px 10px lightgray;
      width: 10vw;
      border-radius: 10px;

    }

  }
}


H1 {
  color: black;
  font-family: Kalam;
  font-size:1.6em;
}

cite{
  text-align: right;
}