@import 'basics';

body {
  margin: 0;
  padding: 0;
  background: $body_background;
}


.articles {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1px;

  &.focused {
    background: darken(lightgray, 2%);
    grid-template-columns: 1fr 1fr 1fr;

    & .article {
      grid-column: 1/ span 3;
    }
  }


  & .article {
    background: lightgray;
    font-family: Kalam;
    font-size: 16pt;
    color: black;
    padding: 10px;
    //border-radius: 10px;
    //box-shadow: 5px 5px 10px black;
    margin: 10px;
    padding: 30px;

    & p {
      line-height: 1.1em;
    }
  }
}

.concerts {
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  background: lightgrey;

  & .concert {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: auto;
    border-radius: 5px;
    //box-shadow: 0px 0px 5px black;

    & .concert_pic {
      padding: 5px;
      background: darkgray;
      order: 1;
      flex: 1 1 150px;
    }

    & .concert_info {
      order: 2;
      background: silver;
      font-family: Mukta;
      font-size: 12pt;
      color: black;
      padding: 10px;


      margin: 5px;
      flex: 1 1 auto;
    }
  }
}


.menu {
  width: 98%;
  padding: 1%;
  border-radius: 5px;
  background: transparent;

  & .entry {
    display: inline-block;
    width: auto;
    heigth: 1.8em;
    text-align: center;
    vertical-align: middle;
    font-family: Mukta;
    border-radius: 3px;
    padding-left: 2ex;
    padding-right: 2ex;

    color: saddlebrown;


    &.private {
      background: #132;
    }


    & a, & a:hover, & a:active, & a:visited {
      color: white;
      background: transparent;
      text-decoration: none;
    }

    //box-shadow: 0px 0px 5px #c0a252;
  }
}


.pictures {



  & H1 {
    color: black;
    font-family: Kalam;
    font-size: 1.6em;

  }

  & .picture {
    text-align: center;
    display: inline-block;
    margin: auto;

    & img.framed {
      border: 1vh solid lightgray;
      box-shadow: 0.1vh 0.1vh 1vh lightgray;
      //height: 40vh ;
      border-radius: 0.25vh;

    }

  }


}


H1 {
  color: black;
  font-family: Kalam;
  font-size: 1.6em;
}

cite {
  text-align: right;
}

#overlay {
  position: fixed;
  display: flex;
  z-index: 7000;
  margin: auto;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent url('../overlay_back.png');
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  & .popin {
    order: 1;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: auto;
    height: auto;
    background: transparent;

    & img {
      height: auto;
      border-radius: 15px;
      border: 1vh solid lightgray;
      box-shadow: 0.1vh 0.1vh 1vh lightgray;
    }

  }

  &.hidden {
    display: none;
  }


}

#main {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  color: #ffffff;
  border-radius: 0;
  background: #101010;
}

.menu {
  background: saddlebrown;
  z-index: 30;
}

.content {
  z-index: 10;
  max-width: 750px;
}

.header {
  background: #303030;
  z-index: 30;
}

.footer {
  background: #404040;

  & img.partners {
    width: calc(#{$start_footer} - 20px);
  }

  z-index: 30;
}


/* Mobile phone *******************************************************************************************************/
@media screen and (max-width: 400px) {

  #main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    min-height: 900px;
    height: auto;
    gap: 0 5px;

  }

  .header {
    order: 1;
    flex: 1 1 auto;
  }

  .menu {
    order: 2;
    flex: 1 1 auto;
  }

  .content {
    order: 4;
    flex: 1 4 auto;
  }

  .footer {
    order: 5;
    flex: 1 1 auto;
  }


}

/* Tablet *************************************************************************************************************/
@media screen and (min-width: 401px) and (max-width: 700px) {
  #main {
    padding: 0;
    margin: 0;


  }

  .header {
    position: absolute;
    width: auto;
    height: $end_header;
    padding-top: 5px;
    left: 0;
    right: 0;
    bottom: auto;
    top: 0;
    border-radius: 0;
    border: none;
    background: #303030;
    z-index: 30;
  }

  .menu {
    position: absolute;
    width: auto;
    height: $end_menu;
    padding-top: 5px;
    left: 0;
    right: 0;
    bottom: auto;
    top: 120px;
    border-radius: 0;
    border: none;
    z-index: 20;
  }

  .footer {
    position: fixed;
    width: auto;
    height: $start_footer;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    border-radius: 0;
    border: none;
    z-index: 20;

    & img {
      width: calc(#{$start_footer} - 20px);
    }
  }

  .content {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    padding-top: calc(#{$end_header} + #{$end_menu}) !important;
    padding-bottom: calc(#{$start_footer} * 2) !important;
    z-index: 10;
    left: auto;
    right: auto;
    min-width: 98vw;
    width: 98vw;

  }

}

/* Desktop */
@media screen and (min-width: 701px) {
  #main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: auto;
    gap: 0 5px;

  }

  .header {
    position: fixed;
    width: auto;
    height: $end_header;
    padding-top: 5px;
    left: 0;
    right: 0;
    bottom: auto;
    top: 0;
    border-radius: 0;
    border: none;
    background: #303030;
  }

  .menu {
    position: fixed;
    width: auto;
    height: $end_menu;
    padding-top: 5px;
    left: 0;
    right: 0;
    bottom: auto;
    top: $end_header;
    border-radius: 0;
    border: none;

  }

  .content {
    position: absolute;
    padding-top: calc(#{$end_header} + #{$end_menu} * 1.25) !important;
    padding-bottom: calc(#{$start_footer} * 1.25) !important;
    max-width: 800px;
    //background: royalblue;
    left: calc((100% - 800px) / 2);
    right: calc((100% - 800px) / 2);

  }

  .footer {
    position: fixed;
    width: auto;
    height: $start_footer;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    border-radius: 0;
    border: none;
    background: #404040;

  }


  .limiter {
    max-width: 800px;
    margin-left: calc(50% - 400px) !important;
    margin-right: calc(50% - 400px) !important;
    border: 1px solid transparent;
    box-shadow:0 0 10px white;
  }

}

.splash {
  position: fixed;
  background: #505050;
  margin: auto;
  text-align: center;

  top: 1vh;
  left: calc(50% - 400px);
  right: calc(50% - 400px);
  margin-bottom: 1vh;

  width: 800px;
  height: auto;


  z-index: 60;
  padding: inherit;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #303030;


  & img.band_logo {
    width: 300px;
    display: block;
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
    margin-bottom: 75px;
  }

  & img.avatar {
    width: 150px;
    display: block;
    margin-right: calc(50% - 75px);
    margin-left: calc(50% - 75px);
  }

  a, a:visited, a:link, a:active, a:hover {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16pt;
    text-align: center;
    display: inline-block;
  }

}