@import 'basics';

body {
  margin: 0;
  padding: 0;
  @include body_background;


  & .world {
    margin-top: 0;
    z-index: 5;
    position: absolute;
    color: $body_color;
    font-family: Acme;

    width: 100%;
    height: 100%;

    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    gap: 1px;
    padding: 0;

    & .spare_left{
      order: 1;
      flex: 1 0 10%;
      //background:red;
    }

    & .spare_right{
      order: 3;
      flex: 1 0 10%;
      //background:blue;

    }

    & .corpus {
      width: auto;
      flex: 8 0 80%;
      order: 2;

      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;
      align-content: stretch;
      align-items: stretch;
      gap: 0 0;


      & .stacked {
        order: 2;
        flex: 8 1 80%;
        //background: yellow;
        text-align:center;

        &.top {
          order: 1;
          flex: 2 1 10%;
          //background: orange;
        }

        &.bottom {
          order: 3;
          flex: 2 1 10%;
          //background: brown;

        }
      }
    }
  }




}