{% extends "responsive.html" %}
{%  load static %}

{% block main %}
    <div class="splash">

        <img class="band_logo" src="{% static 'frontdoor/svg/thebluesharvest_2023_logo.svg' %}" />
        <A href="home">ENTRER</A>
        <img class="avatar" src="{% static 'frontdoor/svg/regis.svg' %}"/>
        <img class="avatar" src="{% static 'frontdoor/svg/cecile.svg' %}"/>
        <img class="avatar" src="{% static 'frontdoor/svg/david.svg' %}"/>
        <img class="avatar" src="{% static 'frontdoor/svg/alex.svg' %}"/>
    </div>
{% endblock main %}


{% block custom_js %}
<script>
    _.defer(function () {
        let co = new Frontdoor()
        co.perform();
    });
</script>
{% endblock custom_js %}