{% load static %}
{% load global_filters %}
<div class="concerts">
    <h1>Dates à venir...</h1>
    {% for c in future_concerts %}
        <div class="concert">
            <div class="concert_info">
                {{ c.perf_date | to_datetime }}<br/>
                <b>
                {% if c.is_private %}
                    <i>Soirée Privée</i>
                {% else %}
                    {{ c.title | safe }}
                {% endif %}
                </b>
                <hr/>
                {{ c.place | safe }}<br/>
                {{ c.description | safe }}
            </div>
        </div>
    {% endfor %}
    <h1>2023</h1>
    {% for c in concerts %}
        <div class="concert">
            <div class="concert_info">
                {{ c.perf_date | to_datetime }}<br/>
                <b>
                {% if c.is_private %}
                    <i>Soirée Privée</i>
                {% else %}
                    {{ c.title | safe }}
                {% endif %}
                </b>
                <hr/>
                {{ c.place | safe }}<br/>
                {{ c.description | safe }}
            </div>
        </div>
    {% endfor %}
    <h1>2022</h1>
    {% for c in past_concerts %}
        <div class="concert">
            <div class="concert_info">
                {{ c.perf_date | to_datetime }}<br/>
                <b>
                {% if c.is_private %}
                    <i>Soirée Privée</i>
                {% else %}
                    {{ c.title | safe }}
                {% endif %}
                </b>
                <hr/>
                {{ c.place | safe }}<br/>
                {{ c.description | safe }}
            </div>
        </div>
    {% endfor %}

</div>