{% load static %}

<div class="limiter">
            <center>
            <!--Badge Linkaband généré le 17-03-2023; Copyright Linkaband 2019-->
            <a href='https://linkaband.com/blues-harvest-1?utm_source=badge&utm_campaign=24635' target='_blank'><img src='https://linkaband.com/assets/images/validation/reservation-blanc.png' alt='Logo The Blues Harvest' class="partners"/></a>
            <a href="https://www.facebook.com/thebluesharvest" target="_blank"><img src="{% static 'frontdoor/svg/facebook_icon_2021.svg' %}" class="partners"/></a>
            <a href="https://soundcloud.com/user-476263694" target="_blank"><img src="{% static 'frontdoor/svg/soundcloud.svg' %}" class="partners"/></a>
            </center>
</div>