<div class="limiter">
    <div class="entry">
        <a href="home">
            <i class="fas fa-home"></i>
            <span class="collapsable">&nbsp;Accueil</span>
        </a>
    </div>
    <div class="entry">
        <a href="concerts">
            <i class="fas fa-calendar-check"></i>
            <span class="collapsable">&nbsp;Concerts</span>
        </a>
    </div>
    <!--
    <div class="entry">
        <a href="medias">
            <i class="fas fa-image-portrait"></i>
            <span class="collapsable">&nbsp;Photos</span>
        </a>
    </div>
    <div class="entry">
        <a href="videos">
            <i class="fas fa-video-camera"></i>
            <span class="collapsable">&nbsp;Vidéos</span>
        </a>
    </div>
    <div class="entry">
        <a href="music"><i class="fas fa-music"></i>
            <span class="collapsable">&nbsp;Musique</span>
        </a>
    </div>
    <div class="entry">
        <a href="compositions">
            <i class="fas fa-sticky-note"></i>
            <span class="collapsable">&nbsp;Morceaux</span>
        </a>
    </div>

    -->
    <div class="entry">
        <a href="contacts">
        <i class="fas fa-envelope"></i>
        <span class="collapsable">&nbsp;Contacts</span>
        </a>
    </div>
</div>